<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추천영화목록</title>
    <div class="navbar">
        <nav>
            <ul>
                <li>
                    <a href="/home">
                        <img src="./img/home.png" alt="Home">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</head>
<body>
    <div>
        <p class="movie_recommendation_list">
            movie1<br />
            movie2<br />
            movie3
        </p>
    </div>
</body>
</html>