/* 네비게이션 바 백그라운드 이미지 설정 */
.navbar {
    background-image: url("./img/nav_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* 배경색 다크 그레이로 설정 */
body {
    background-color: #2E2E2E;
    font-family: Arial, sans-serif;
}

/* 영화제목 폰트 설정 */
.movie_title {
    color: white;
    font-size: 36px;
    text-align: left;
    position: absolute;
    top: 100px;
    left: 80px;
}

/* 영화제목 폰트 설정 */
.movie_recommendation_list {
    color: white;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 80px;
}

/* 영화제목 폰트 설정 */
.movie_recommendation_list_sub {
    color: white;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 600px;
    left: 100px;
}

/* 출연 배우 폰트 설정 */
.actors {
    color: white;
    font-size: 12px;
    text-align: left;
    position: absolute;
    top: 200px;
    left: 90px;
}
